body {
    background-color:antiquewhite;

}

.main-header {
    background-color: black;
    text-align: center;
    padding: 1%;
}
.main-header li {
    display: inline;
    margin: 10%;
    font-size: 2em;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-footer {
    background-color: gray;
    color:white;
    padding: 1%;
}

.map {
    position: relative;
    text-align: center;
    width: 100%;
    
}
svg {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    
}
.part {
    opacity: .3;
    
}
.part:hover {
    transition: opacity .2s ease;
    opacity: .5;
    cursor: pointer;
}

